.page-hero-section{
    height: 500px;
    margin-bottom: 54px;
    .img-bg{
        height: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-heading{
     text-align: center;
     color: #fff;
     font-family: $secondary-font;
     font-weight: 600;
     @include font-size(4rem);
    }
}

.contact-card{
    form{
        input{
            width: 100%;
            @include padding-right(1.2rem);
            @include padding-left(1.2rem);
            @include padding-top(0.9rem);
            @include padding-bottom(0.9rem);
            border-radius: 5px;
            border: 1px solid #dcdfe3;
            color: #818890;
            outline: none;
            @include font-size(1.1rem);
            &::placeholder{
                color: #818890;
            }
        }
        textarea{
            width: 100%;
            @include padding-right(1.2rem);
            @include padding-left(1.2rem);
            @include padding-top(0.9rem);
            border-radius: 5px;
            border: 1px solid #dcdfe3;
            @include font-size(1.1rem);
            outline: none;
            &::placeholder{
                color: #818890;
            }
        }
        .btn-container{
            margin-top: 25px;
            text-align: center;
            @media (min-width:576px) {
                text-align: left;
            }
            .btn-submit{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: $primary-color;
                @include font-size(1rem);
                @include padding-top(1.2rem);
                @include padding-right(4.5rem);
                @include padding-bottom(1.2rem);
                @include padding-left(4.5rem);
                display: inline-block;
                font-family: $primary-font;
                font-weight: 600;
                border:2px solid #ffffff;
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                border-radius: 10px;
                width: 100%;
                @media (min-width:576px) {
                    width: auto;
                }
                &:hover{
                   color: $primary-color;
                   background-color: transparent;
                   border: 2px solid $primary-color;
                }
            }
        }
    }
}