// banner section
.ad-couture-banner-section{
    background-image: url(../images/ad-banner.jpg);
    background-size: cover;
    background-position: center center;
    height: 650px;

    .container{
        height: 100%;
        .banner-main{
            display:flex;
            align-items: center;
            height: 100%;
            .ad-couture-banner-text{
                .banner-heading{
                    font-family: $primary-font;
                    font-weight: 500;
                    @include font-size(4rem);
                    color: #ffffff;
                    span{
                        font-weight: 600;
                        @include font-size(5.6rem);
                    }
                }
                .banner-heading-text{
                    font-family: $primary-font;
                    font-weight: 400;
                    @include font-size(1.3rem);
                    color: #ffffff;
                }
                .banner-btn-container{
                    margin-top: 44px;
                    .banner-btn{
                        text-decoration: none;
                        text-align: center;
                        color: #ffffff;
                        background-color: transparent;
                        @include font-size(1rem);
                        @include padding-top(1.1rem);
                        @include padding-right(4rem);
                        @include padding-bottom(1.1rem);
                        @include padding-left(4rem);
                        display: inline-block;
                        font-family: $primary-font;
                        font-weight: 600;
                        border-radius: 5px;
                        border:2px solid #ffffff;
                        transition: all 0.3s ease-in-out;
                        text-transform: uppercase;
                        &:hover{
                            border:2px solid $primary-color;
                            background-color: $primary-color;
                        }
                    }
                } 
            }
        }
    }
    
}

// Explore ad-couture section
.explorer-sec{
    margin-top: 30px;
    margin-bottom: 10px;
    .section-heading{
        .explorer-heading{
            text-align: center;
            font-family: $primary-font;
            font-weight: 700;
            @include font-size(4rem);
            color: #2d2d2d;
            padding-bottom: 27px;
            span{
                color: $primary-color;
                @include font-size(5.3rem);
            }
        }
        .image-main{
           padding:0 30px;
            .col{
                a{
                    .explorer-image{
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        height: 70vw;
                        width: 70vw;
                        margin: 0 auto;
                        background-color: #000;
                        transition: background-color 0.2s ease-in-out;
                        @media (min-width:556px) {
                            height: 40vw;
                            width: 40vw;  
                        }
                        @media (min-width:992px) {
                            height: 20vw;
                            width: 20vw;  
                        }
                        &:hover{
                            background-color: $primary-color;
                        }
                        img{ 
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 100%;
                            opacity: 0.5;
                        }
                        .explorer-name{
                           position: absolute;
                           top: 50%;
                           left: 50%;
                           transform: translate(-50%,-50%);
                           @include font-size(2rem);
                           color: #ffffff;
                           font-family: $primary-font;
                           font-weight: 700;
                           text-transform: uppercase;
                           text-align: center;
                        }
                    }
                }
               
            }
        }
    }
}

// About Us section
.about-us-section{
    margin-top: 50px;
    .about-us-heading-text{
        font-family: $primary-font;
        font-weight: 700;
        @include font-size(1.2rem);
        color: #2d2d2d;
        text-align: center;
        @media (min-width: 992px) {
            @include font-size(4.5rem);
            text-align: left;
        }
    }
    .about-us-text{
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(1.2rem);
        color: #818890;
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
        @media (min-width: 992px) {
            text-align: left;
        }
    }
    .about-us-text-second{
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(1.2rem);
        color: #818890;
        padding: 0;
        margin: 0;
        // text-align: center;
        // @media (min-width: 992px) {
        //     text-align: left;
        // }
    }
    .about-us-btn-container{
        margin-top: 30px;
        .about-us-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 15px 45px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 600;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
        }
    }
    .img-container{
        overflow: hidden;
        border-radius: 10px;
        .aboutUs-image{
            width: 30%;
            margin: 0 auto;
            display: flex;
            margin-bottom: 13px;
            // @media (min-width: 992px) {
            //     width: 80%;
            // }

            // @media (min-width: 1400px) {
            //     width: 30%;
            // }
        }
    }
}


//studio section
.studio-sec{
    margin-top: 50px;
    margin-bottom: 30px;
    .studio-section-heading{
        .studio-heading{
            font-family: $primary-font;
            font-weight: 700;
            text-align: center;
            color: #2d2d2d;
            @include font-size(4.5rem);
            margin-bottom: 27px;
        }
    }
    .video-image{
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before{
            content: "";
            position: absolute;
            background: #000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
        svg{
            --size:50px;
            width: var(--size);
            height:var(--size);
            color: $primary-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            transition: transform 0.2s ease-in-out;
            cursor: pointer;
            @media (min-width:768px) {
            --size:70px; 
            }
            &:hover{
                transform:translate(-50%,-50%) scale(1.1);
            }
        }
        &.hide{
            display: none;
        }
    }
    .video{
        width: 100%;
        aspect-ratio: 16 / 9;

        iframe{
            width: 100%;
            aspect-ratio: 16 / 9;
        }
        &.hide{
            display: none;
        }
    }
}

.gallery-about-bkg{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: #f3f4f1;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @media (min-width:768px) {
            height: 80%;
        }
    }
   
}
//gallery section
.gallery-sec {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    .gallery-heading {
        font-family: $primary-font;
        font-weight: 700;
        text-align: center;
        color: #2d2d2d;
        @include font-size(4.5rem);
        margin-bottom: 27px;
    }
    .adc-gallery{
        .glightbox{
            transition: opacity 0.2s ease-in-out;
            img{
                width: 100%;
                border-radius: 8px;
            }
            &:hover{
                opacity: 0.9;
            }
        }
        
    }  
    .gallery-btn-container{
        text-align: center;
        width: 100%;
        margin-top: 44px;
        .gallery-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 15px 45px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 600;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
        }
    } 
}

// Testimonial section 
.testimonial-section{
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
    .testimonial-heading{
        margin-top: 0;
        font-family: $primary-font;
        font-weight: 500;
        color: #1b1b1b;
        @include font-size(3rem);
        span{
            font-weight: 700;
            @include font-size(4rem);
        }
        @media (min-width:1200px) {
            margin-top: 166px;
        }
    }
    .testimonial-text{
        color: #525252;
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(1.2rem);
    }
    .testimonial-text-second{
        color: #525252;
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(1.2rem);
    }
    .t-box{
        border-radius: 10px;
        padding: 30px;
        box-shadow:0 0 90px change-color($color: #d8dadd, $alpha: 0.4);
        background: #fff;
        &:first-child{
            margin-bottom: 1rem;
        }
        img{

        }
        .testimonial-text{
            padding-top: 20px;
            font-family: $secondary-font;
            font-weight: 400;
            color: #525252;
            @include font-size(1.1rem);
            margin: 0;
        }
        .author-name{
            font-family: $secondary-font;
            font-weight: 700;
            color: $primary-color;
            @include font-size(1rem);
            margin-top: 35px;
        }
        .testimonial-t-text{
            padding-top: 20px;
            font-family: $secondary-font;
            font-weight: 400;
            color: #525252;
            @include font-size(1.1rem);
        }
    }
    .t-container {
        display: flex;
        flex-direction: column;
        @media (min-width:1200px) {
            flex-direction: row;
        }
        .testimonial-left{
       
        }
        .testimonial-right{
            display: flex;
            align-items: center;
        }
    }
}

// blog section
.blog-section{
    margin-top: 30px;
    margin-bottom: 20px;
    .blog-heading{
        font-family: $primary-font;
        font-weight: 700;
        text-align: center;
        color: #2d2d2d;
        @include font-size(4.5rem);
        margin-bottom: 27px;
    } 
    .blog-text{
        text-decoration: none;
        .card{
            border: none;
            .img-container{
                overflow: hidden;
                position: relative;
                .card-img-top{
                    border-radius: 10px;
                    transition: transform .4s ease-in-out;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block; 
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                    transform: skewX(-25deg);
                    transition: none;
                }
                &:hover{
                    .card-img-top{
                        transform: scale(1.2);
                    }
                    &::before{
                        transition: left 0.4s ease-in;
                        left: 100%;
                    }    
                }
            }
            
            .card-body{
                padding: 0;
                .card-date{
                    padding-top: 25px;
                    text-align: left;
                    font-family: $secondary-font;
                    font-weight: 400;
                     @include font-size(1rem); 
                    color: #777777;
                    margin: 0;
                }
                .card-heading-text{
                    padding-top: 10px;
                    text-align: left;
                    font-family: $primary-font;
                    font-weight: 600;
                    @include font-size(1.2rem);
                    color: #3a3a3a;
                    margin: 0;
                    padding-bottom: 8px;
                    }
                .card-text{
                    text-align: left;
                    font-family: $secondary-font;
                    font-weight: 400;
                    @include font-size(1rem); 
                    color: #777777;
                }
                .readmore-btn{
                    text-decoration: none;
                    color: $primary-color;
                    @include font-size(1rem);
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: $secondary-font;
                    display: inline-flex;
                    align-items: center;
                    column-gap: 5px;
                    svg{
                        height: 15px;
                        width: 15px;
                        fill: $primary-color;
                        transition: transform 0.2s ease-in-out;
                    }
                    &:hover{
                        svg{
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
    }
    .blog-btn-container{
        text-align: center;
        width: 100%;
        margin-top: 44px;
        .blog-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(0.9rem);
            padding: 15px 45px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 600;
            border-radius: 5px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
            }
        }
    } 
    .pagination-links{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        gap: 30px;
        .prev.page-numbers{
            text-decoration: none;
            color: $primary-color;
        }
        span{
            &.current{
                position: relative;
                color: #fff;
                &::after{
                    position: absolute;
                    content: '';
                    background-color: $primary-color;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    height: 30px;
                    width: 30px;
                    z-index: -1;
                }
            }
        }
        .page-numbers{
            color: $primary-color;
            text-decoration: none;
        }
    }
}

// contact us section
.contact-us-section{
    margin-top: 80px;
    margin-bottom: 50px;
    .contact-us-heading{
        font-family: $primary-font;
        font-weight: 700;
        color: #2d2d2d;
        @include font-size(4.5rem);
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-us-left{
        .contact-box{
            background-color: #e3e7e8;
            border-radius: 10px;
            padding: 30px;
            &:first-child{
                margin-bottom: 1rem;
            }
            svg{
                height: 80px;
                width: 80px;
            }
            .c-heading{
                padding-top: 15px;
                color: #2e3234;
                font-family: $primary-font;
                font-weight: 700;
                @include font-size(2.3rem);
                text-transform: uppercase;
            }
            .contact-us-text{
                color: #676767;
                font-family: $primary-font;
                font-weight: 400;
                @include font-size(1rem);
            }
            .banner-btn-container{
                margin-top: 25px;
                .banner-btn{
                    text-decoration: none;
                    text-align: center;
                    color: #ffffff;
                    background-color: #1b1b1b;
                    @include font-size(1rem);
                    padding: 15px 40px;
                    display: inline-block;
                    font-family: $primary-font;
                    font-weight: 600;
                    border:2px solid #ffffff;
                    transition: all 0.3s ease-in-out;
                    text-transform: uppercase;
                    &:hover{
                       color: #1b1b1b;
                       background-color: transparent;
                       border: 2px solid #1b1b1b;
                    }
                }
            }
        }
    }
    .coloum{
        padding-left: 10px;
        @media (min-width:992px) {
            padding-left: 60px; 
        }
        .contact-us-form-text{
            font-family: $primary-font;
            font-weight: 700;
            color: #1b1b1b;
            @include font-size(4.1rem);
            margin-top: 50px;
        }
        .contact-us-text{
            font-family: $primary-font;
            font-weight: 400;
            color: #818890;
            @include font-size(1.1rem);
        }
        .contact-card{
            form{
                input{
                    width: 100%;
                    @include padding-right(1.2rem);
                    @include padding-left(1.2rem);
                    @include padding-top(0.9rem);
                    @include padding-bottom(0.9rem);
                    border-radius: 5px;
                    border: 1px solid #dcdfe3;
                    color: #818890;
                    outline: none;
                    @include font-size(1.1rem);
                    &::placeholder{
                        color: #818890;
                    }
                }
                textarea{
                    width: 100%;
                    @include padding-right(1.2rem);
                    @include padding-left(1.2rem);
                    @include padding-top(0.9rem);
                    border-radius: 5px;
                    border: 1px solid #dcdfe3;
                    @include font-size(1.1rem);
                    outline: none;
                    &::placeholder{
                        color: #818890;
                    }
                }
                .btn-container{
                    margin-top: 25px;
                    text-align: center;
                    @media (min-width:576px) {
                        text-align: left;
                    }
                    .btn-submit{
                        text-decoration: none;
                        text-align: center;
                        color: #ffffff;
                        background-color: $primary-color;
                        @include font-size(1rem);
                        @include padding-top(1.2rem);
                        @include padding-right(4.5rem);
                        @include padding-bottom(1.2rem);
                        @include padding-left(4.5rem);
                        display: inline-block;
                        font-family: $primary-font;
                        font-weight: 600;
                        border:2px solid #ffffff;
                        transition: all 0.3s ease-in-out;
                        text-transform: uppercase;
                        border-radius: 10px;
                        width: 100%;
                        @media (min-width:576px) {
                            width: auto;
                        }
                        &:hover{
                           color: $primary-color;
                           background-color: transparent;
                           border: 2px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
}